body{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}
header{
    width:100%;
    height:60vh;
    overflow:hidden;
    position: relative;
    object-fit: cover;
    margin-bottom: 10vh;
}
.header-image{
    position: absolute;
    top:-20vh;
    z-index: -1;
}
.nav{
    display: flex;
    margin:1vh 8vw;
    list-style: none;
    justify-content: space-between;
    color:white;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-bar{
    display:flex;
}
h4{
    cursor:pointer;
}
.nav-bar li{
        font-size:1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: lighter;
        padding-left:30px;
        list-style: none;
        cursor:pointer;
}
.head{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7vh;
    align-items: center;
}
.logo{
    width:16em;
}
.head h3{
    font-size: 2em;
    color: whitesmoke;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}
.search{
    display:flex;
    width: 55vw;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: white;
    padding: 5px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.search input{
    outline: none;
    border: none;
    width: 50%;
    padding-left: 10px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.search p{
    color: grey;
    border-right: 1px solid grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding-right: 10px;
    letter-spacing: 2px;
}
.seacrh i:first-child{
    font-size: 20px;
    color: rgb(252,119,119);
    padding-left: 10px;
    padding-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ri-map-pin-line{
    padding-right: 10px;
    padding-left: 10px;
}
.sec-1{
    display: flex;
    justify-content: center;
    margin-bottom: 13vh;
}
.box{
    position: relative;
    width: 256px;
    height: 180px;
    margin: 3px 5px;
    box-shadow: 0 1px 2px gray;
    overflow: hidden;
    border-radius: 15px;
    background-color: rgb(243,240,240);
}
.box img{
    width: 100%;
    border-radius: 15px;
    z-index: -1;
}
.white{
    position: absolute;
    bottom: 3px;
    align-items: center;
    border-radius: 0 0 15px 15px;
    width: 100%;
    height: 25%;
    z-index: 2;
    background-color: white;
}
.white p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: rgb(56,56,56);
    letter-spacing: 0.7px;
    margin: 10px;

}
.middle{
    margin: 60px 150px;
}
.sec-2 h2{
    font-size: 2.7rem;
    font-weight: lighter;
    margin-bottom: 10px;
}
.sec-2 div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.sec-2 h6{
    margin: 0;
    font-size: 1rem;
    font-weight: lighter;
    color: rgb(99,98,98);
}
.box-1{
    width:255x;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    margin-right: 10px;
    border:1px solid rgb(199, 195, 195);
    box-shadow:  -10px 10px 10px rgb(69, 68, 68);
}
.box-1 div{
    position: absolute;
    background: linear-gradient(transparent,black);
    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-end;
    bottom: 0;
}
.box-1 div span:first-child{
    display: inline-block;
    color: rgb(255, 255, 255);
    padding-left: 15px;
    font-size: 1rem;
    padding-bottom: 5px;
}
.box-1 i{
    color: white;
    padding-bottom: 15px;
}
.box-1 img{
    width: 255px;
    height: 300px;
    object-fit: cover;
}

.sec-3{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    margin-bottom: 130px;
}
.ri-arrow-right-s-fill{
    cursor: pointer;
}
.middle h1{
    font-size: 2.1rem;
    font-weight: lighter;
    text-align: center;
    margin: 50px;
    color: rgb(56,56,65);
}
.sec-4{
    display: grid;
    justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    grid-template-columns: 340px 340px 340px;
    grid-template-rows: auto;
}
.box-2{
    border: 1px solid rgb(235,233,233);
    box-shadow: 0 1px 3px rgb(226,223,223);
    width: 340px;
    height: 60px;
    overflow: hidden;
}
.box-2 div{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.box-2 div span{
    color:rgb(65,64,64);
    font-size: 1.2rem;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.ri-arrow-right-s-line{
    cursor:pointer;
}